
.input {
	border: none;
	background: none;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-family: "Open Sans", sans-serif;
	border-bottom: 1px solid #827f7f;
	width: 100%;
}

.input-title {
	font-size: 32px;
}

.invalid {
	border: 1px solid rgb(249, 5, 5);
	background: rgb(157, 100, 100);
}
